html,
body {
  overscroll-behavior: none;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background: #fbf9f6;
}
a {
  color: inherit;
}
#canvas {
  height: 96vh;
  width: 100%;
  max-width: 640px;
  overflow: hidden;
  box-sizing: border-box;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
}
#canvas svg {
  width: 100%;
}
#about {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.75;
  padding: 0rem 2rem 1rem;
  color: #2c3d51;
}
#about a {
  font-weight: 500;
}
#ball {
}
#ball.started {
}
#play {
  cursor: pointer;
}
#finalscore,
#best {
  font-size: 70%;
  fill: #34495e;
}
#best {
  font-style: italic;
  font-size: 50%;
}
#tip {
  font-weight: 300;
  font-size: 18%;
  font-style: italic;
  padding: 0.5rem 2rem 0rem;
}
#shareBtn {
  background: #1d9bf0;
  color: #fff;
  width: 220px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem auto 0px;
  font-size: 1.25rem;
  display: block;
  box-sizing: border-box;
}
#shareBtn.hide {
  visibility: hidden;
}
